body, html{
  height:100%;
}
body{
  margin: 0px;
  background: url('background.jpg') #444 no-repeat;
  background-size: 100% 100%;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: #fff;
  text-decoration: none;

}
a, .title {
  border: 1px solid black;
  border-radius: 5px;
  background-color:#004080;
}
a:hover {
  background-color: lightblue;
  color: #004080;
}

.title, a{
  padding:4px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.BlinkyDancer{
  /*border:10px solid red;*/
  border: 10px solid red;
  border-radius: 50%;
  position:absolute;
}

img {
  height: 100px;
  width: auto;
  position:absolute;
}
.rotateY {
  transition: 2s;
  transform: rotate(360deg);
}

.flip {
  transition: 2s;
  transform: rotateY(360deg);
}

#circle {
  position: absolute;
  width: 30%;
  height: 50%;
  top: 25%;
  left: 35%;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -webkit-animation-name:orbit;
  -webkit-animation-duration:3s;
}

@-webkit-keyframes orbit {
from { -webkit-transform:rotate(0deg) }
to { -webkit-transform:rotate(360deg) }

}

.tilt {
  transform: rotate(30deg);
}


.hauntedHouse{
  background-image:url('hauntedHouse.jpg');
}


